{% extends "admin/change_list.html" %}
{% load admin_list i18n %}

{% block extrahead %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mptt/tree/css/style.css" />

	<script type="text/javascript" src="{{ STATIC_URL }}mptt/tree/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}mptt/tree/js/jquery-ui-1.8.22.custom.min.js"></script>
	<script type="text/javascript">
	    var mptt = { "jQuery": jQuery, "tree_structure": {{ tree_structure|default:"null" }}};
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}mptt/tree/js/ie_compat.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}mptt/tree/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}mptt/tree/js/toolbox.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}mptt/tree/js/mptt_tree.js"></script>
{% endblock %}
